<%
	require './compatcgi'

	rack_params = Rack::Utils.parse_query(request.query_string)
	cgi = CompatCGI.new(request)

	require 'net/ldap'

	eval(File.read(cf = 'pv/ldap_wui.config'), nil, cf)

	dn = cgi.params['dn'][0]

	ldap = Net::LDAP.new(
		host:	@configs[:ldap_container_ldaphost],
		port:	@configs[:ldap_container_ldapport],
		auth:	{
			:method		=> :simple,
			:username	=> @configs[:ldap_container_binddn],
			:password	=> @configs[:ldap_container_passwd],
		},
	)

	server_name = (it = @configs[:ldap_server_name]) ? ' [%s]' % it : ''
%><HTML>
	<HEAD>
		<TITLE>LDAP Web UI<%= server_name%></TITLE>
	</HEAD>
	<BODY>
		<H1><A href='.'>LDAP Web UI<%= server_name %></A></H1>
<%=
	results = []
	begin
		# 追加
		if(cgi.params['request'][0] == 'add')
			attrs = {}; @configs[:ldap_wui_form].each {|fk, fv|
				# 自動値を設定
				if(it = fv[:POST_GEN])
					eval(*it).each {|gv|
						attrs[fk.to_sym] = (it = attrs[fk.to_sym]) ? [it, gv].flatten : gv
					}
				# 指定値を設定
				elsif((it = cgi.params['new_' + fk]).size > 0)
					it.each {|ev|
						attrs[fk.to_sym] = (it = attrs[fk.to_sym]) ? [it, ev].flatten : ev
					}
				# 既存値を設定
				elsif((it = cgi.params['now_' + fk]).size > 0)
					it.each {|dv|
						attrs[fk.to_sym] = (it = attrs[fk.to_sym]) ? [it, dv].flatten : dv
					}
				end
			}
			dn = attrs.delete(:dn)
			r = ldap.add(:dn => dn, :attributes => attrs.to_a) or raise('add failed.')
		end

		# 更新
		if(cgi.params['request'][0] == 'modify')
			ops = []; cgi.params.each {|k, v|
				if(k =~ /^new_(.+)/ and cgi.params['now_' + $1].inspect != cgi.params[k].inspect)
					ops << [:replace, $1.to_sym, cgi.params[k]]
				end
			}
			r = ldap.modify(:dn => dn, :operations => ops) or raise('modify failed.')
		end

		# 削除
		if(cgi.params['request'][0] == 'delete')
			r = ldap.delete(:dn => dn) or raise('delete failed.')
		end

	rescue StandardError, ScriptError
		if($!.is_a?(RuntimeError))
			results << [	'<PRE><CODE><TT>',
							CGI.escape_html(ldap.get_operation_result.inspect),
							"\n", CGI.escape_html('%s: %s (%s)' % [$@.shift, $!.message, $!.class]),
							"</TT></CODE></PRE>\n"	].join
		else
			results << [	'<PRE><CODE><TT>',
							CGI.escape_html('%s: %s (%s)' % [$@.shift, $!.message, $!.class]),
							CGI.escape_html($@.unshift('').join("\n\tfrom ")),
							"</TT></CODE></PRE>\n"	].join
		end
	end

	# 読み出し
	begin
		entries = ldap.search(
			base:	@configs[:ldap_wui_base],
		) or raise('search failed.')
	rescue
		if($!.is_a?(RuntimeError))
			results << [	'<PRE><CODE><TT>',
							CGI.escape_html(ldap.get_operation_result.inspect),
							"\n", CGI.escape_html('%s: %s (%s)' % [$@.shift, $!.message, $!.class]),
							"</TT></CODE></PRE>\n"	].join
		else
			results << [	'<PRE><CODE><TT>',
							CGI.escape_html('%s: %s (%s)' % [$@.shift, $!.message, $!.class]),
							CGI.escape_html($@.unshift('').join("\n\tfrom ")),
							"</TT></CODE></PRE>\n"	].join
		end
		entries = []
	end
	opts = []; dn_entry = nil; entries.each {|entry|
		(it = entry[:dn][0]) =~ /^#{@configs[:ldap_wui_pkey]}/ and opts << [it]
		it == dn and dn_entry = entry and opts.last << ' selected'
	}

	results.join
%>		<FORM method='GET' action='.'>
			<SELECT name='dn'>
				<OPTION value='New Entry'>New Entry
<%				opts.each {|opt|
%>				<OPTION value='<%= opt[0] %>'<%= opt[1] %>><%= opt[0] %>
<%				}
%>			</SELECT>
			<INPUT type='submit' name='call' value='呼出'>
			<TABLE border='1'>
				<TR><TD><IMG src='images/td.png' width='256' height='1'><TD align='right'><IMG src='images/td.png' width='768' height='1'><BR>
					<A href='group'>→ group edit</A>
<%				@configs[:ldap_wui_form].each {|fk, fv|
					vs = fv[:DEFAULT] || ['-']
					(it = fv[:PRE_GEN]) and vs = eval(*it)
					(it = fv[:NOTE]) and vs = it
					(it = dn_entry) and vs = it[fk]
					tooltip = (it = fv[:TOOLTIP_GEN]) ? " <SPAN class='tooltip' title='%s'>?</SPAN>" % eval(*it) : ''
					vs.each {|rv|
%>				<TR><TD><%= fk %><%= tooltip %><INPUT type='hidden' name='now_<%= fk %>' value='<%= rv %>'>
					<TD><INPUT type='text' name='new_<%= fk %>' value='<%= rv %>' size='60'<%= fv[:FIX] ? ' disabled' : '' %>>
<%					}
				}
%>				<TR><TD>
						<INPUT type='radio' id='lba' name='request' value='add'   ><LABEL for='lba' >追加</LABEL>
						<INPUT type='radio' id='lbm' name='request' value='modify'><LABEL for='lbm' >更新</LABEL>
						<INPUT type='radio' id='lbd' name='request' value='delete'><FONT color='red'>削除</FONT>
					<TD align='right'>
						<INPUT type='submit' name='exec' value='実行'>
			</TABLE>
<%=			html = ''; it = @configs[:ldap_wui_notes] and it.each {|fk, fv|
				(it = fv[:HTML_GEN]) and html << eval(*it)
			}
			html
%>		</FORM>
	</BODY>
</HTML>

